<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/index.css')}}" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- Flash message display -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="w-full bg-sky-500 rounded-sm py-2 px-8">
      {% for message in messages %}
      <span class="font-bold text-fuchsia-400 text-sm">{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="flex flex-col min-h-[100dvh] container mx-auto">
      <header
        class="px-4 lg:px-6 h-14 flex items-center justify-between sticky top-0 z-10">
        <a class="flex items-center" href="{{ url_for('index') }}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 6 12 12 16 14"></polyline>
          </svg>
          <span class="ml-2 text-lg font-medium">Daily Time Recorder</span>
        </a>
        <div class="flex items-center gap-7">
          {% if not session.get('user_id') %}
          <a
            class="text-sm font-medium hover:underline underline-offset-4"
            href="{{ url_for('sign_in') }}">
            Login
          </a>
          <a
            class="inline-flex h-9 items-center justify-center bg-gray-900 px-6 py-2 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-gray-900/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:bg-gray-50 dark:text-gray-900 dark:hover:bg-gray-50/90 dark:focus-visible:ring-gray-300"
            href="{{ url_for('sign_up') }}">
            Sign Up
          </a>
          {% endif %}
        </div>
      </header>

      <main class="">{% block main %}{% endblock %}</main>

      <footer
        class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
        <p
          class="w-full text-xs font-semibold text-gray-500 dark:text-gray-400 text-center">
          © 2024 Daily Time Recorder. All rights reserved.
        </p>
        <!-- <nav class="sm:ml-auto flex gap-4 sm:gap-6">
          <a class="text-xs hover:underline underline-offset-4" href="#"
            >Home</a
          >
        </nav> -->
      </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script
      type="module"
      src="{{url_for('static',filename='js/index.js')}}"></script>
  </body>
</html>
