{% extends "layout.html" %} {% block title %} Setup Profile {% endblock %} {%
block main %}

<div
  class="h-screen flex flex-col justify-center mx-auto max-w-sm space-y-6 sm:max-w-md">
  <div class="space-y-2 text-center">
    <h1 class="text-3xl font-bold">Complete your profile</h1>
    <p class="text-gray-500 dark:text-gray-400">
      Fill out the form below to set up your profile.
    </p>
  </div>
  <form
    class="space-y-6"
    action="/profile-setup"
    method="post"
    enctype="multipart/form-data">
    <div class="space-y-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="name">
        Name
      </label>
      <input
        name="name"
        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
        id="name"
        placeholder="Enter your name"
        autofocus
        required />
    </div>
    <div class="space-y-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="password">
        Password
      </label>
      {% include "includes/password-field.html" %}
    </div>
    <div class="space-y-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="profile-picture">
        Profile picture
      </label>
      <input
        name="profile-picture"
        class="flex items-center h-10 w-full rounded-md border px-3 text-sm ring-offset-background file:border-0 file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed"
        id="profile-picture"
        type="file" />
    </div>
    <button
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-950 text-white hover:bg-gray-950/90 h-10 px-4 py-2 w-full"
      type="submit">
      Save
    </button>
  </form>
</div>
<script
  type="module"
  src="{{url_for('static',filename='js/profile-setup.js')}}"></script>
{% endblock %}
