{% extends "layout.html" %} {% block title %} Time Schedule {% endblock %} {%
block main %}
<div class="flex min-h-screen w-full">
  {% include "includes/dashboard-sidebar.html" %}
  <div class="flex-1 flex flex-col w-full">
    {% include "includes/dashboard-header.html" %}
    <main
      class="flex-1 p-6 md:p-8 flex flex-col gap-6 justify-center items-center">
      {% if not schedules %}
      <p class="text-sm text-gray-500 dark:text-gray-400 font-normal">
        No schedules available ...
      </p>
      <!-- drawer init and show -->
      <div class="text-left">
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          type="button"
          data-drawer-target="drawer-timepicker"
          data-drawer-show="drawer-timepicker"
          aria-controls="drawer-timepicker">
          Set schedule now
        </button>
      </div>
      {% else %}
      <section class="text-white">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">Day</th>
                <th scope="col" class="px-6 py-3">Shift</th>
                <th scope="col" class="px-6 py-3">Schedule</th>
              </tr>
            </thead>
            <tbody>
              {% for schedule in schedules %}
              <tr
                class="bg-white border-b hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ schedule.day }}
                </th>

                {% if schedule.day_off == True %}
                <td class="px-6 py-4">Day off</td>
                {% else %}
                <td class="px-6 py-4">{{ schedule.shift_type }}</td>
                {% endif %} {% if schedule.shift_type == 'Opener' %}
                <td class="px-6 py-4">6:00 AM - 3:00 PM</td>
                {% elif schedule.shift_type == 'Regular' %}
                <td class="px-6 py-4">8:30 AM - 5:30 PM</td>
                {% elif schedule.shift_type == 'Closer' %}
                <td class="px-6 py-4">1:00 PM - 10:00 PM</td>
                {% else %}
                <td class="px-6 py-4"></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      {% endif %}
      <!-- drawer component -->
      <div
        id="drawer-timepicker"
        class="fixed top-0 left-0 z-[51] h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-full max-w-sm dark:bg-gray-800 shadow"
        tabindex="-1"
        aria-labelledby="drawer-timepicker-label">
        {% include "includes/sched_headers.html" %}
        <form id="form" class="mt-5" method="POST">
          <script
            type="module"
            src="{{url_for('static',filename='js/scheduler-component.js')}}"></script>

          <!-- Submit buttons -->
          {% include "includes/sched_submit_btns.html" %}
        </form>
      </div>
    </main>
  </div>
</div>

<script
  type="module"
  src="{{url_for('static',filename='js/time-schedule.js')}}"></script>
{% endblock %}
