{% extends "layout.html" %} {% block title %} Profile {% endblock %} {% block
main %}

<div class="flex w-full">
  {% include "includes/dashboard-sidebar.html" %}
  <div class="flex-1 flex flex-col w-full">
    <main class="flex-1 pl-6 py-6">
      <section class="bg-gray-100 p-4 md:p-8 rounded-lg">
        <h2 class="mb-10 text-xl font-semibold">Personal Information</h2>
        <div class="flex gap-6">
          <div
            title="{{first_name}}"
            class="relative w-28 h-28 rounded-full border-2">
            <img
              src="{{ image_src }}"
              alt="{{ name }}"
              class="w-full h-full rounded-full object-cover"
              width="96"
              height="96"
              id="profile-image" />
            <!-- <button
              id="upload-button"
              title="Upload profile"
              class="absolute bottom-1 -right-1.5 bg-slate-800 text-white rounded-full p-1.5 hover:bg-slate-950/70 focus:outline-none focus:ring-2 focus:ring-slate-950 focus:ring-offset-2"
              onclick="document.getElementById('fileInput').click()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="w-4 h-4">
                <path
                  d="M14.5 4h-5L7 7H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3l-2.5-3z"></path>
                <circle cx="12" cy="13" r="3"></circle>
              </svg>
              <span class="sr-only">Upload new profile picture</span>
            </button>
            <input type="file" id="fileInput" style="display: none" /> -->
          </div>
          <div
            class="py-2 flex flex-col space-y-1 text-lg font-semibold text-gray-800 tracking-tight">
            <div class="w-full">
              <span>
                {{ last_name }}, {{ first_name }} {% if middle_name %} {{
                middle_name }} {% endif %}
              </span>
            </div>
            {% if position %}
            <div class="w-full">
              <span>{{ position }}</span>
            </div>
            {% endif %} {% if employee_id %}
            <div class="w-full">
              <span>{{ employee_id }}</span>
            </div>
            {% endif %}
            <div class="w-full">
              <span>{{ email }}</span>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

<script src="{{url_for('static',filename='js/profile-upload.js')}}"></script>

{% endblock %}
