<!-- prettier-ignore -->
{% extends "layout.html" %}
{% block title %} Admin {{ first_name }} {{ last_name }} {% endblock %} 
{% block main %}

<div class="antialiased bg-gray-50 dark:bg-gray-900">
  <!-- prettier-ignore -->
  {% include "includes/dashboard-header.html" %} 
  {% include "includes/dashboard-sidebar.html" %}
  <main
    class="h-auto mt-[76px] max-w-[calc(1440px_-_15rem)] md:ml-60 2xl:mx-auto xl:px-4">
    {% include "admin/user-table-header.html" %}

    <div class="flex flex-col">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden shadow">
            {% include "admin/user-table.html" %}
          </div>
        </div>
      </div>
    </div>

    {% include "admin/pagination.html" %}

    <!-- Add User Modal -->
    {% include "admin/add-user-modal.html" %}

    <!-- Delete User Modal -->
    {% include "admin/delete-user-modal.html" %}

    <script
      type="module"
      src="{{ url_for('static', filename='js/admin/delete_user.js') }}"></script>
  </main>
</div>

{% endblock %}
