<!-- prettier-ignore -->
{% extends "layout.html" %} 
{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock %} 
{% block main %} 

{% include "includes/dashboard-header.html" %}

<main
  class="antialiased bg-gray-50 dark:bg-gray-900 h-auto mt-[76px] max-w-5xl mx-auto xl:px-4">
  <div
    class="grid grid-cols-1 md:px-4 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="col-span-full xl:col-auto">
      <div
        class="sticky top-[76px] p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div
          class="items-center sm:flex xl:block sm:space-x-4 xl:space-x-0 2xl:space-x-4">
          <img
            id="user-avatar"
            class="mb-4 rounded-lg w-28 h-28 md:w-40 md:h-[148px] sm:mb-0 xl:mb-4 2xl:mb-0"
            src="
            {% if user.avatar %}
            {{ url_for('static', filename='assets/users/') }}{{ user.avatar }}
            {% else %}
            {{ url_for('static', filename='assets/avatar.png') }}
            {% endif %}"
            alt="{{ user.first_name }}" />
          <div>
            <div
              class="mb-4 flex flex-col gap-1.5 text-xs text-gray-500 dark:text-gray-400">
              <span>JPG, PNG or WEBP. Max size of 1MB</span>
              <span id="upload-error" class="text-sm text-red-500"></span>
            </div>
            <div class="flex items-center space-x-4">
              <button
                type="button"
                id="upload-button"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:opacity-70 disabled:pointer-events-none"
                onclick="document.getElementById('fileInput').click()">
                <svg
                  class="w-4 h-4 mr-2 -ml-1"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path>
                  <path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path>
                </svg>
                Upload avatar
              </button>
              <input type="file" id="fileInput" style="display: none" />
              <!-- prettier-ignore -->
              <button
                {% if user.avatar is none %} disabled {% endif %}
                id="remove-avatar"
                type="button"
                class="inline-flex items-center py-2 px-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 disabled:pointer-events-none disabled:opacity-70">
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <script
        type="module"
        src="{{url_for('static',filename='js/admin/upload_avatar.js')}}"></script>
    </div>
    <div class="col-span-2">
      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div class="flex w-full items-center justify-between pb-3">
          <h3 class="text-xl font-semibold dark:text-white">
            Personal information
          </h3>
          <button
            type="button"
            data-modal-target="update-user-modal"
            data-modal-toggle="update-user-modal"
            class="inline-flex items-center justify-center w-fit px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg
              class="w-4 h-4 sm:mr-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
              <path
                fill-rule="evenodd"
                d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="hidden sm:inline">Update</span>
          </button>
        </div>
        <div class="mt-6">
          <dl class="divide-y divide-gray-200 dark:divide-gray-700">
            <div class="p-4 sm:grid sm:grid-cols-4 sm:px-0">
              <dt
                class="text-sm/6 font-medium text-gray-900 dark:text-gray-100">
                Full Name
              </dt>
              <dd
                class="mt-1 text-sm/6 text-gray-700 dark:text-gray-300 sm:col-span-3 sm:mt-0">
                {{ user.first_name }} {{ user.last_name }}
              </dd>
            </div>
            <div class="p-4 sm:grid sm:grid-cols-4 sm:px-0">
              <dt
                class="text-sm/6 font-medium text-gray-900 dark:text-gray-100">
                Email Address
              </dt>
              <dd
                class="mt-1 text-sm/6 text-gray-700 dark:text-gray-300 sm:col-span-3 sm:mt-0">
                {{ user.email }}
              </dd>
            </div>
            <div title="yyyy-mm-dd" class="p-4 sm:grid sm:grid-cols-4 sm:px-0">
              <dt
                class="text-sm/6 font-medium text-gray-900 dark:text-gray-100">
                Birthday
              </dt>
              <dd
                class="mt-1 text-sm/6 text-gray-600 dark:text-gray-300 sm:col-span-3 sm:mt-0">
                {% if user.birthday %} {{ user.birthday }} {% endif %}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div
        class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div class="flex w-full items-center justify-between pb-3">
          <h3 class="text-xl font-semibold dark:text-white">
            Employment information
          </h3>
          <button
            type="button"
            data-modal-target="update-employment-modal"
            data-modal-toggle="update-employment-modal"
            class="inline-flex items-center justify-center w-fit px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            {% if not employee %}
            <svg
              class="w-5 h-5 sm:mr-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                clip-rule="evenodd"></path>
            </svg>
            {% else %}
            <svg
              class="w-4 h-4 sm:mr-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
              <path
                fill-rule="evenodd"
                d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                clip-rule="evenodd"></path>
            </svg>
            {% endif %}
            <span class="hidden sm:inline">
              {% if not employee %} Add {% else %} Update {% endif %}
            </span>
          </button>
        </div>
        <div class="mt-6">
          <dl class="divide-y divide-gray-200 dark:divide-gray-700">
            <div class="p-4 sm:grid sm:grid-cols-4 sm:px-0">
              <dt
                class="text-sm/6 font-medium text-gray-900 dark:text-gray-100">
                Employee ID
              </dt>
              <dd
                class="mt-1 text-sm/6 text-gray-700 dark:text-gray-300 sm:col-span-3 sm:mt-0">
                {{ employee.id }}
              </dd>
            </div>
            <div class="p-4 sm:grid sm:grid-cols-4 sm:px-0">
              <dt
                class="text-sm/6 font-medium text-gray-900 dark:text-gray-100">
                Company
              </dt>
              <dd
                class="mt-1 text-sm/6 text-gray-700 dark:text-gray-300 sm:col-span-3 sm:mt-0">
                {{ employee.company }}
              </dd>
            </div>
            <div class="p-4 sm:grid sm:grid-cols-4 sm:px-0">
              <dt
                class="text-sm/6 font-medium text-gray-900 dark:text-gray-100">
                Position
              </dt>
              <dd
                class="mt-1 text-sm/6 text-gray-700 dark:text-gray-300 sm:col-span-3 sm:mt-0">
                {{ employee.position }}
              </dd>
            </div>
            <div title="yyyy-mm-dd" class="p-4 sm:grid sm:grid-cols-4 sm:px-0">
              <dt
                class="text-sm/6 font-medium text-gray-900 dark:text-gray-100">
                Hired date
              </dt>
              <dd
                class="mt-1 text-sm/6 text-gray-700 dark:text-gray-300 sm:col-span-3 sm:mt-0">
                {{ employee.hired_date }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- prettier-ignore -->
  {% include "admin/includes/update-user-modal.html" %}
  {% include "admin/includes/update-employment-modal.html" %}
</main>

{% endblock %}
