@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 5px;
  background-image: linear-gradient(#4facfe, #00f2fe);
  z-index: 9999;
  transition: width 0.2s ease-out;
}

div[data-category='danger'] {
  color: red;
  border-color: red;
}

div[data-category='success'] {
  color: #02b775;
  border-color: #02b775;
}

html.dark input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

html.dark input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
