<nav
  class="bg-white shadow-sm dark:shadow-md px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed inset-x-0 top-0 z-50">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex justify-start items-center">
      <button
        data-drawer-target="drawer-navigation"
        data-drawer-toggle="drawer-navigation"
        aria-controls="drawer-navigation"
        class="p-2 mr-2 text-gray-600 rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg
          aria-hidden="true"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
        <svg
          aria-hidden="true"
          class="hidden w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Toggle sidebar</span>
      </button>
      <a href="/" class="flex items-center justify-between mr-4">
        <span
          class="self-center text-lg sm:text-xl font-semibold whitespace-nowrap dark:text-white"
          >Time Recorder</span
        >
      </a>
    </div>
    <div class="flex items-center lg:order-2">
      <!-- Notifications -->
      <button
        type="button"
        data-dropdown-toggle="notification-dropdown"
        class="p-2 mr-1 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
        <span class="sr-only">View notifications</span>
        <!-- Bell icon -->
        <svg
          aria-hidden="true"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div
        class="hidden overflow-hidden z-[55] my-4 max-w-sm text-base list-none bg-white divide-y divide-gray-100 shadow-lg dark:divide-gray-600 dark:bg-gray-700 rounded-xl"
        id="notification-dropdown">
        <div
          class="block py-2 px-4 text-base font-medium text-gray-700 bg-gray-50 dark:bg-gray-600 dark:text-gray-300">
          Notifications
        </div>
        <div
          class="flex items-center justify-center w-72 h-80 py-3 px-4 border-b">
          <span class="text-sm text-gray-400">No new notifications</span>
        </div>
      </div>
      <button
        type="button"
        class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button"
        aria-expanded="false"
        data-dropdown-toggle="dropdown">
        <span class="sr-only">Open user menu</span>
        <img
          id="header-profile"
          class="w-8 h-8 rounded-full"
          src="{{ image_src }}"
          alt="user photo" />
      </button>
      <!-- Dropdown menu -->
      <div
        class="hidden z-[55] my-4 w-56 text-base list-none bg-white divide-y divide-gray-100 shadow-md dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
        id="dropdown">
        <div class="py-3 px-4">
          <span
            class="block text-sm font-semibold text-gray-900 dark:text-white"
            >{{ first_name }} {{ last_name }}</span
          >
          <span class="block text-sm text-gray-900 truncate dark:text-white"
            >{{ email }}</span
          >
        </div>
        <ul
          class="py-1 text-gray-700 dark:text-gray-300"
          aria-labelledby="dropdown">
          <li>
            <a
              href="{{ url_for('profile') }}"
              class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
              >My profile</a
            >
          </li>
          <!-- <li>
            <a
              href="#"
              class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
              >Account settings</a
            >
          </li> -->
        </ul>
        <ul
          class="py-1 text-gray-700 dark:text-gray-300"
          aria-labelledby="dropdown">
          <li>
            <button
              id="theme-toggle"
              class="flex w-full justify-between items-center py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
              <div class="flex items-center">
                <svg
                  class="mr-2 w-5 h-5 text-gray-400"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512">
                  <path
                    d="M495.8 0c5.5 0 10.9 .2 16.3 .7c7 .6 12.8 5.7 14.3 12.5s-1.6 13.9-7.7 17.3c-44.4 25.2-74.4 73-74.4 127.8c0 81 65.5 146.6 146.2 146.6c8.6 0 17-.7 25.1-2.1c6.9-1.2 13.8 2.2 17 8.5s1.9 13.8-3.1 18.7c-34.5 33.6-81.7 54.4-133.6 54.4c-9.3 0-18.4-.7-27.4-1.9c-11.2-22.6-29.8-40.9-52.6-51.7c-2.7-58.5-50.3-105.3-109.2-106.7c-1.7-10.4-2.6-21-2.6-31.8C304 86.1 389.8 0 495.8 0zM447.9 431.9c0 44.2-35.8 80-80 80H96c-53 0-96-43-96-96c0-47.6 34.6-87 80-94.6l0-1.3c0-53 43-96 96-96c34.9 0 65.4 18.6 82.2 46.4c13-9.1 28.8-14.4 45.8-14.4c44.2 0 80 35.8 80 80c0 5.9-.6 11.7-1.9 17.2c37.4 6.7 65.8 39.4 65.8 78.7z" />
                </svg>
                <span>Dark mode</span>
              </div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  value=""
                  name="dark-mode"
                  id="dark-mode"
                  class="sr-only peer"
                  disabled />
                <div
                  class="relative w-9 h-5 bg-gray-200 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="sr-only">Dark mode</span>
              </label>
            </button>
          </li>
          <!-- <li>
            <a
              href="#"
              class="flex items-center py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              ><svg
                class="mr-2 w-5 h-5 text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path>
              </svg>
              Collections</a
            >
          </li> -->
        </ul>
        <ul
          class="py-1 text-gray-700 dark:text-gray-300"
          aria-labelledby="dropdown">
          <li>
            <button
              id="logout-button"
              class="block w-full text-left py-2 px-4 text-sm hover:rounded-b-lg hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
              Sign out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('logout-button').addEventListener('click', () => {
      window.location.href = "{{ url_for('logout') }}";
    });
  </script>
  <script src="{{url_for('static',filename='js/dark-mode.js')}}"></script>
</nav>
